version: '3.8' 

volumes: 
     volume_plano_saude: 
     
networks: 
    plano_saude_network: 

services: 
    container_postgres: 
        container_name: container_postgres
        image: postgres:13.16
        ports:
            - 2223:5432
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
             - volume_plano_saude:/var/lib/postgresql/data
        networks:
            - plano_saude_network

    container_backend: 
        build: . 
        container_name: container_backend
        environment:
            spring.datasource.url: jdbc:postgresql://container_postgres:5432/${POSTGRES_DB}
            spring.datasource.username: ${POSTGRES_USER}
            spring.datasource.password: ${POSTGRES_PASSWORD}
        ports:
            - 8080:8080 # porta do pc local --> porta do container
        networks:
            - plano_saude_network
        depends_on:
            - container_postgres